$primary-color: #EBFF00;
$secondary-color: #FF70D9;

.app {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  background-color: #000;
  color: white;

  .logo {
    height: 50%;
  }

  .menu-toggle {
    display: none;

    // Show nav when burger is checked
    &:checked ~ .nav {
      display: flex;
    }

    // Burger menu animation
    &:checked + .burger-menu .burger-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 9px);
    }

    &:checked + .burger-menu .burger-line:nth-child(2) {
      opacity: 0;
    }

    &:checked + .burger-menu .burger-line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -9px);
    }
  }

  .burger-menu {
    display: none;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    z-index: 10;
  
    .burger-line {
      height: 2px;
      width: 25px;
      background: white;
      transition: all 0.3s ease;
    }
  }
  
  .nav {
    display: flex;

    &-list {
      display: flex;
      gap: 30px;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    &-link {
      color: white;
      display: flex;
      align-items: center;
      font-size: 1rem;
    
      &:hover {
        background: linear-gradient(45deg, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        svg {
          .gradient-start {
            stop-color: $primary-color;
          }

          .gradient-end {
            stop-color: $secondary-color;
          }
        }
      }
    
      svg {
        margin-right: 0.5rem;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #0d1e48;
  color: white;
}

@media (max-width: 768px) {
  
}

@media (max-width: 540px) {
  .header {
    padding: 0 20px;
    height: 48px;

    .burger-menu {
      display: flex;
    }

    .nav {
      display: none;
      flex-direction: column;
      background-color: #0d1e48;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      text-align: center;
      padding: 1rem 0;

      &-list {
        flex-direction: column;
      }

      &-item {
        margin: 1rem 0;
      }
    }
  }
}
